  @model IEnumerable<AspnetCoreMvcFull.Models.Product>

  @{
	  ViewData["Title"] = "Index";
	  Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
  }

  <!-- Basic Bootstrap Table -->
  <div class="card">
	  <h5 class="card-header">Table Basic</h5>
	  <h5 class="card-header"><a asp-action="Create">Create New</a></h5>
	  <div class="table-responsive text-nowrap">
		  <table class="table">
			  <thead>
				  <tr>
					  <th>Name</th>
					  <th>Image</th>
					  <th>Description</th>
					  <th>Price</th>
					  <th>Category</th>
					  <th>Status</th> 
					  <th>Actions</th>
				  </tr>
			  </thead>
			  <tbody class="table-border-bottom-0">

				  @foreach (var item in Model)
				  {
					  <tr>
						  <td> <span>@Html.DisplayFor(modelItem => item.Name)</span></td>
						  <td><span class="badge bg-label-primary me-1">@Html.DisplayFor(modelItem => item.Price)</span></td>
						  <td>
							  <div class="d-flex align-items-center">
								  @if (!string.IsNullOrEmpty(item.Image))
								  {
									  <img src="@item.Image"
										   class="rounded me-3"
										   width="40"
										   height="40"
										   style="object-fit:cover;" />
								  }
								  else
								  {
									  <div class="avatar avatar-sm me-3">
										  <span class="avatar-initial rounded bg-label-secondary">
											  <i class="bx bx-image"></i>
										  </span>
									  </div>
								  }
								  <span class="fw-medium">@item.Name</span>
							  </div>
						  </td>
						<td><span class="badge bg-label-primary me-1">@Html.DisplayFor(modelItem => item.Description)</span></td>
						  <td><span class="badge bg-label-primary me-1">@item.Category?.Name</span></td>
						  <td><span class="badge bg-label-primary me-1">@Html.DisplayFor(modelItem => item.Status)</span></td>
							  <td>
							  <div class="dropdown">
								  <button type="button"
										  class="btn p-0 dropdown-toggle hide-arrow"
										  data-bs-toggle="dropdown"
										  aria-expanded="false">
									  <i class="icon-base bx bx-dots-vertical-rounded"></i>
								  </button>

								  <div class="dropdown-menu">
									  <a class="dropdown-item"
										 asp-action="Edit"
										 asp-route-id="@item.Id">
										  <i class="icon-base bx bx-edit-alt me-1"></i> Edit
									  </a>

									  <a class="dropdown-item"
										 asp-action="Details"
										 asp-route-id="@item.Id">
										  <i class="icon-base bx bx-show me-1"></i> Details
									  </a>

									  <a class="dropdown-item text-danger"
										 asp-action="Delete"
										 asp-route-id="@item.Id">
										  <i class="icon-base bx bx-trash me-1"></i> Delete
									  </a>
								  </div>
							  </div>
						  </td>

					  </tr>
				  }
			  </tbody>
		  </table>
	  </div>
  </div>
  <!--/ Basic Bootstrap Table -->
